@config "../../tailwind.config.cjs";
@import "@triangle/theme/tokens.css";
@import "tailwindcss";

@layer base {
  html,
  body {
    background: var(--c-bg);
    color: var(--c-text-primary);
    font-family: var(--font-main);
  }
}
