@config "../../tailwind.config.cjs";
@import "tailwindcss";
@import "./tokens.css";

@layer base {
  html,
  body {
    background: var(--c-bg);
    color: var(--c-text-primary);
    font-family: var(--font-main);
  }
}
